@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/*
:root {
  --background: oklch(98.5% 0 0);
  --background-inverse: oklch(21% 0.006 285.885);
  --card: oklch(98.5% 0 0);
  --border-card: oklch(92% 0.004 286.32);
  --muted-foreground: oklch(70.5% 0.015 286.067);
}

html.dark {
  --background: oklch(21% 0.006 285.885);
  --background-inverse: oklch(98.5% 0 0);
  --card: oklch(27.4% 0.006 286.033);
  --border-card: oklch(37% 0.013 285.805);
  --muted-foreground: oklch(70.5% 0.015 286.067);
}

@theme inline {
  --color-background: var(--background);
  --color-background-inverse: var(--background-inverse);
  --color-card: var(--card);
  --color-border-card: var(--border-card);
  --color-muted-foreground: var(--muted-foreground);
}
  */

:root {
  --background: oklch(98.5% 0 0);
  --background-inverse: oklch(21% 0.006 285.885);
  --card: oklch(98.5% 0 0);
  --border-card: oklch(92% 0.004 286.32);
  --muted-foreground: oklch(44.2% 0.017 285.786);
}

html.dark {
  --background: oklch(21% 0.006 285.885);
  --background-inverse: oklch(98.5% 0 0);
  --card: oklch(27.4% 0.006 286.033);
  --border-card: oklch(37% 0.013 285.805);
  --muted-foreground: oklch(70.5% 0.015 286.067);
}

@theme inline {
  --color-background: var(--background);
  --color-background-inverse: var(--background-inverse);
  --color-card: var(--card);
  --color-border-card: var(--border-card);
  --color-muted-foreground: var(--muted-foreground);
}

/*
background-page: bg-zinc-100 / dark:bg-zinc-900
bg-card: bg-zinc-50 / dark:bg-zinc-800
text-card-foreground: text-zinc-900 / dark:text-zinc-100
border-default: border-zinc-200 / dark:border-zinc-700
muted-foreground: text-zinc-500 / dark:text-zinc-400
accent: bg-zinc-200 / dark:bg-zinc-700
bg-input: bg-white / dark:bg-zinc-800
text-input: text-zinc-900 / dark:text-zinc-100
bg-button: bg-zinc-200 / dark:bg-zinc-700
bg-button-primary: bg-zinc-900 (light) / bg-zinc-100 (dark)
bg-select: bg-white / dark:bg-zinc-800
text-select: text-zinc-900 / dark:text-zinc-100
hover-select: hover:bg-zinc-200 / dark:hover:bg-zinc-700
*/
